<div class="col s6">
    <h3>Add New Questions</h3>
    {% if question.count %}
      {% for question in question.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ question.question }}
              {{ question.answer }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_question' quiz.id question.id %}" method="post">
                {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
</div>

