{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kraniak</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Kraniak</a></li>
        </ul>
        <ul class="right">
          <li><a href="/about">About</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'decks_create' %}">Add a Deck</a></li>
          <li><a href="{% url 'index' %}">View All My Decks</a></li>
          <li><a href="{% url 'flashcards_create' %}">Add a Flashcard</a></li>
          <li><a href="{% url 'flashcards_index' %}">View All Flashcards</a></li>
          <li><a href="/quiz/create">Add A Quiz</a></li>
          <li><a href="{% url 'quiz_index' %}">My Quizzes</a></li>
          <li><a href="{% url 'question_create' %}">Add A Question</a></li>
          <li><a href="{% url 'question_index' %}">My Questions</a></li>
          <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
          <li><a href=""></a></li>
          {% else %}
          <li><button><a href="{% url 'signup' %}">Sign Up</a></button></li>
          <li><button><a href="{% url 'login' %}">Log In</a></button></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2022 Kraniak &nbsp;</div>
  </footer>
</body>
</html>
