body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  .page-bg-desktop {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  }

.signup {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 6%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.login {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

nav {
  margin: 10px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
}

.nav-item {
  margin-right: 8px;
}

.navbar-brand {
  margin-left: 8px;
}

.btn {
  margin-right: 8px;
}

.h1-title {
  position: relative;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  margin-top: 12%;
  font-size: 2.8rem;
  font-weight: 500;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #000000;
}

.h2-title {
  position: relative;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  margin-top: 10%;
  font-weight: 400;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #000000;
}

.deck-details {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.deck-list {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.delete-deck {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.deck-form {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.delete-flashcard {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.flashcard-detail {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.flashcard-form {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.flashcard-list {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.delete-question {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.question-detail {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.question-form {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.question-list {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.delete-quiz {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.quiz-form {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.quiz-list {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}

.quiz-details {
  opacity: .9;
  font-family: 'Nunito', sans-serif;
  margin-top: 8%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  background-clip: border-box;
  border: 2px solid black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 30px;
  background-color: #DAEAFF;
  text-align: center;
  box-shadow: 2px 2px 4px black;
}



/* KeiLee */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }